.ai-orb-container {
    width: 200px;
    height: 200px;
    margin-bottom: 80px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-out;
}

.blob {
    position: absolute;
    mix-blend-mode: multiply;
}

.blob-large {
    width: 160px;
    height: 260px;
    top: -40px;
    left: 20px;
}

.blob-small {
    width: 120px;
    height: 120px;
    bottom: -20px;
    right: 20px;
}